<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/bsi">
        <table>
            <tr>
                <td><p>Koerpergroesse in cm</p></td>
                <td><input type="text" name="kGroesse"></td>
            </tr>
            <tr>
                <td><p>Schuhgröße</p></td>
                <td><input name="schuhGr" type="text"></td>
            </tr>
            <tr>
                <td><p>Semesterzahl</p></td>
                <td><input type="text" name="semZahl"></td>
            </tr>
        </table>
        <input type="submit" value="ok">
    </form>
</body>
</html>